<table class="table table-hover mb-0 align-middle">
    <thead class="table-light">
    <tr>
        <th width="15%">Data</th>
        <th width="35%">Código / Descrição</th>
        <th width="15%" class="text-center text-secondary">Original</th>
        <th width="15%" class="text-center text-success">Encontrado</th>
        <th width="15%" class="text-danger">Faltante (Entregar)</th>
        <th width="5%"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${entry.value}">
        <td class="text-muted small ps-3">
            <span th:text="${#temporals.format(p.dataAbertura, 'dd/MM HH:mm')}"></span>
        </td>
        <td>
            <div class="fw-bold font-monospace text-dark"
                 th:classappend="${busca != null && p.codigo.contains(busca)} ? 'bg-warning bg-opacity-25 px-1 rounded'">
                <span th:text="${p.codigo}"></span>
            </div>
            <small class="text-muted text-uppercase" th:text="${p.descricao}"></small>
        </td>

        <td class="text-center text-muted">
            <span th:text="${#numbers.formatDecimal(p.qtdOriginal, 1, 1)}"></span>
        </td>

        <td class="text-center text-success fw-bold bg-success bg-opacity-10">
            <span th:text="${#numbers.formatDecimal(p.qtdEncontrada, 1, 1)}"></span>
        </td>

        <td class="fw-bold text-danger fs-5">
            <span th:text="${p.quantidade}"></span>
            <small class="text-secondary" style="font-size: 0.6em;" th:text="${p.unidade}"></small>
        </td>

        <td class="text-end pe-3">
            <form action="/pendencias/entregar" method="post">
                <input type="hidden" name="id" th:value="${p.id}">
                <button class="btn btn-sm btn-outline-success" title="Dar Baixa">
                    <i class="bi bi-check-lg"></i>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>